:root{
  --primary-color: #1ca9ff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none !important;
  color: #000 ;
  font-weight: 500;
}
li{
  list-style: none;
}


/* Start Header */
.navbar.bg-body-tertiary {
    background-color: #fff7d4 !important;
}
.navbar-nav {
    gap: 10px;
}
.navbar-nav a{
  color: #000 !important;
}
.navbar form{
  background-color: #fff;
  border: 2px solid var(--primary-color);
  padding: 10px;
  border-radius: 16px;
}
.navbar form input {
    width: 300px;
    border: none;
}
.navbar form input:focus{
  outline: none;
}
.navbar form button{
  border: none;
  line-height: 1;
}
.navbar form button svg{
  fill: var(--primary-color);
}

/* start products */
.product-cardimg {
    height: 18rem;
}

.product-card {
  width: 300px;
}

.swiper-slide {
  width: auto !important;
  display: flex;
  justify-content: center;
}

.swiper-slide {
  width: calc((100% - 60px) / 4); /* 4 عناصر + مسافات */
}

@media (max-width: 1024px) {
  .swiper-slide {
    width: calc((100% - 40px) / 2); /* 2 عناصر */
  }
}

@media (max-width: 640px) {
  .swiper-slide {
    width: 100%; /* عنصر واحد */
  }
}


/* start categoties page */
.categories-list {
  grid-template-columns: repeat(4, 1fr);
}
.categories-list a {
  color: #000;
  font-size: 24px;
  background-color: #bbb;
}